html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  color: #222;
  font-family: "Ubuntu", "Helvetica Neue", "Lucida Grande", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  line-height: 1.5em;
  font-size: 14px;
}
a,
p,
div,
ul,
ol,
h1,
h2,
h3,
img,
textarea,
form,
select,
input {
  padding: 0;
  margin: 0;
}
input[type="button"],
input[type="text"],
input[type="submit"],
input[type="password"] {
  -webkit-appearance: none;
}
img {
  border: 0px;
}
a {
  color: #000099;
  text-decoration: none;
}
a:hover {
  color: orange;
  text-decoration: none;
  transition: all 500ms ease;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
ul > li {
  list-style-type: circle;
}
.clear {
  clear: both;
}
.invisible,
.hidden {
  display: none;
}
.center {
  position: relative;
  text-align: center;
}
.float-left {
  position: relative;
  float: left;
}
.float-right {
  position: relative;
  float: right;
}
.inline {
  display: inline-block;
}
.padding {
  padding: 20px;
}
.padding.padding-tiny {
  padding: 5px;
}
.padding.padding-small {
  padding: 10px;
}
.padding.padding-big {
  padding: 30px;
}
.padding.padding-large {
  padding: 40px;
}
.padding.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}
.padding.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}
.padding.padding-top {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.padding.padding-bottom {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.padding.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.padding.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.text.text-red {
  color: #f92132;
}
.text.text-green {
  color: #86cd4c;
}
.text.text-blue {
  color: #000099;
}
.text.text-white {
  color: #ffffff;
}
.text.text-grey {
  color: #999999;
}
.text.white {
  color: #fff;
}
.text.text-bold {
  font-weight: bold !important;
}
.text.text-spaced {
  line-height: 1.8em;
}
.text.text-smallest {
  font-size: 8px;
  vertical-lign: middle;
}
.text.text-smaller {
  font-size: 11px;
}
.text.text-small {
  font-size: 13px;
}
.text.text-big {
  font-size: 16px;
}
.text.text-bigger {
  font-size: 18px;
}
.text.text-large {
  font-size: 24px;
}
.text.text-larger {
  font-size: 28px;
}
.text.text-huge {
  font-size: 32px;
}
.block.block-red {
  background: #f92132;
}
.block.block-green {
  background: #86cd4c;
}
.block.block-blue {
  background: #000099;
}
.block.block-white {
  background: #ffffff;
  border: solid #eee 1px;
}
input[type=text] {
  border: solid #ddd 1px;
  padding: 6px;
  font-size: 16px;
  border-radius: 2px;
}
input[type=submit],
input[type=button],
.button {
  display: inline-block;
  color: #555;
  padding: 7px 20px;
  background: #eee;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
}
input[type=submit].green,
input[type=button].green,
.button.green {
  background: #86cd4c;
  color: #fff;
}
input[type=submit].red,
input[type=button].red,
.button.red {
  background: #f92132;
  color: #fff;
}
input[type=submit].blue,
input[type=button].blue,
.button.blue {
  background: #000099;
  color: #fff;
}
.inner .central {
  max-width: 975px;
  margin: 0 auto;
  position: relative;
}
