{% extends 'base.html' %}

{% block content %}

    <!-- Posts Page -->
    <div class="posts-page">

        <div class="text text-bold text-large">Posts</div>

        {% if res.error %}
            <div class="text text-red">An error occured: {{res.error}}</div>
        {% else %}

            {% if res.body['results'] %}

                {% for entry in [{'title': 'Hei'}]%}
                    {% module Module('modules/entry.html', entry=entry) %}
                {% end %}

            {% else %}

                <div class="text text-grey">Nothing here</div>

            {% end %}

        {% end %}

    </div>

{% end %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        console.log('Application started...');
    })
</script>
{% end %}